.home-container {
    background-image: url('./images/Titlescreen.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: bottom -150px right 550px;
    background-attachment: fixed;
    height: auto; /* Passt sich automatisch an den Inhalt an */
    padding-bottom: 2rem; /* Füge ggf. ein wenig Abstand unten hinzu, damit es nicht zu eng wird */

    min-height: 100vh;
    position: relative; /* Sicherstellen, dass die Positionierung der Kinder relativ zur .home-container ist */
  
   margin-top: 0;
  padding-top: 0;
  
  }
  
  .title-container {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Sicherstellen, dass der Text über anderen Elementen liegt */
  }
  body {
    overflow: hidden;
} 
.level-heading {
  color: #B8BBFF; /* Beispiel für eine Farbe (Orangeton) */
}
.level-button {
  /* Basis-Stil für alle Level-Buttons */
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.level-button.level-1 {
  background-color: #4CAF50; /* Grüner Button */
}

.level-button.level-2 {
  background-color: #FFC107; /* Gelber Button */
}

.level-button.level-3 {
  background-color: #F44336; /* Roter Button */
}

.level-button:disabled {
  background-color: #9E9E9E; /* Grauer Button für gesperrte Levels */
  cursor: not-allowed;
}
