@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand", sans-serif; /* Fallback-Schriftart hinzugefügt */
  color: #333;
}
.App {
  background-image: url('.images/Titlescreen.png');
  background-repeat: no-repeat;
  background-size: cover; /* Skaliert das Bild, um den gesamten Container abzudecken */
  background-position: center; /* Positioniert das Bild in der Mitte des Containers */
  background-attachment: fixed; /* Das Bild bleibt beim Scrollen fixiert */
  min-height: 100vh; /* Stellt sicher, dass der Container die volle Höhe des Viewports hat */
  color: #f1356d;
}

/* Navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 430px; /* Maximalbreite angepasst */
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #9ae1f7;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 0px;
}

.navbar a:hover {
  color: #f1356d;
}

/* Content */
.content {
  max-width: 430px;
  margin: 0px auto;
  padding: 0px;
}

/* App */
.App {
  /* Hintergrundbild für .App */
  background-image: url('./Titlescreen.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #f1356d;
}

.App h1 {
  color: #f1356d;
  font-weight: bold;
}

/* Buttons */
.btn-square {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: #ccc;
  color: #333;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn-square:hover {
  background-color: #ddd;
}

/* Menü-Buttons */
.menu-btn.biberdamm {
  background-color: brown;
  color: #ffffff;
}

.menu-btn.staudamm {
  background-color: grey;
  color: #ffffff;
}

.menu-btn.sandsack {
  background-color: beige;
  color: black;
}

/* Hintergrundbild in Flex-Container begrenzen */
.background-container {
  max-width: 430px; /* Maximale Breite für das Hintergrundbild */
  max-height: 500px; /* Maximale Höhe für das Hintergrundbild */
  width: 100%; /* Breite auf 100% setzen, um die maximale Breite zu nutzen */
  height: auto; /* Höhe automatisch anpassen, um das Verhältnis beizubehalten */
  margin: 0 auto; /* Zentriert das Bild horizontal */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
