@tailwind base;
@tailwind components;
@tailwind utilities; 
/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');*/

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.App{
  /* background-image: url(./Titlescreen.png);
  background-repeat: no-repeat;
  /* background-size: cover;  */
  /*background-position: center; */
  color: #f1356d;
}
.App h1 {
  color: #f1356d;
  font-weight: bold;
}
.spielstarten {
  font-weight: bold;
  
  display: flex;
  align-items: center; /* Vertikal zentrieren */
  justify-content: center; /* Horizontal zentrieren */
}
.red {
  color:rgb(255, 0, 0)
}
.btn-square {
  width: 50px; /* Ändere die Breite nach Bedarf */
  height: 50px; /* Ändere die Höhe nach Bedarf */
  border-radius: 8px; /* Optional: Füge abgerundete Ecken hinzu */
  background-color: #ccc; /* Ändere die Hintergrundfarbe nach Bedarf */
  color: #333; /* Ändere die Textfarbe nach Bedarf */
  font-size: 16px; /* Ändere die Schriftgröße nach Bedarf */
  border: none; /* Optional: Entferne die Rahmen */
  cursor: pointer;
}

.btn-square:hover {
  background-color: #ddd; /* Ändere die Hintergrundfarbe im Hover-Zustand nach Bedarf */
}
/* styles.css */

/* Stile für gefüllte Buttons */
/* styles.css */

/* Stile für gefüllte Buttons */
.menu-btn.biberdamm {
  background-color: brown; /* Rote Hintergrundfarbe für Biberdamm-Button */
  color: #ffffff; /* Weiße Textfarbe */
}

.menu-btn.staudamm {
  background-color: grey; /* Grüne Hintergrundfarbe für Staudamm-Button */
  color: #ffffff; /* Weiße Textfarbe */
}

.menu-btn.sandsack {
  background-color: beige; /* Blaue Hintergrundfarbe für Sandsack-Button */
  color: black; /* Weiße Textfarbe */
}
